BACKEND_PORT=8080
KAFKA_PORT=9092
KAFKA_UI_PORT=8081
MONGO_PORT=27017

MONGO_INITDB_DATABASE=chatdb
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin

SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SPRING_DATA_MONGODB_URI=mongodb://admin:admin@mongodb:27017/chatdb?authSource=admin
APP_MESSAGE_ENCRYPTION_KEY=MDEyMzQ1Njc4OWFiY2RlZg==
